  body {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    color:#fff;
    width:50%;
    margin: 60px auto;
    font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
  } 
  h1 {
    font-weight:bold;
    text-align:center;
    border:1px solid #fff;
    padding:20px;
    border-radius:5px;
  }
  h2 {
    text-align:center;
  }
  p {
    line-height:1.5;
    font-size:25px;
  }
  img {
    display:block;
    margin:0 auto;
    border-radius:5px;
  }
  button { 
    display:block;
    margin:30px auto;
    color:#fff;
    background:#27423a;
    font-size:30px;
    padding:15px 20px;
    border:none;
    border-radius:5px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 200ms ease;
    text-transform:uppercase;
    cursor: pointer;
    opacity: 0.9;
  }

  button:hover{
    background:#223932;
    opacity:0.9;
  }
  .container{
    max-width:600px;
    margin:10px auto;
    padding:20px 60px;
  }
  .read{
    padding-top:10px;
    color:white;
    font-size:15 px;
  }
  .read:hover{
    text-decoration:underline;
  }
  .footer{text-align:center;
    font-size:19px;
  }